<!DOCTYPE html>
<html>
<head>
    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css%}
    {% bootstrap_javascript%}
    <title>网页底部</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>body{text-align:center}</style>
</head>
<body style="height:100%">

<nav class="navbar navbar-expand-md bg-light navbar-light fixed-bottom">
    <div class="container justify-content-center">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">©版权</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">意见反馈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">使用说明</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">备案编号</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>